@using System.Web.Optimization
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/css")
    @Html.Partial("_GoogleAnalytics")
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T4F2G92"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    @{
        Html.RenderPartial("_Navbar");
    }

    <div>
        @RenderBody()
    </div>
</body>
</html>
<footer>
    @{
        Html.RenderPartial("_Footer");
    }
</footer>

@Scripts.Render("~/bundles/jquery")