@using System.Web.Optimization
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/bootstrapCss")
    @Styles.Render("~/bundles/css")
    @Html.Partial("_GoogleAnalytics")
</head>
<body>
    @{
        Html.RenderPartial("_Navbar");
    }

        @RenderBody()
</body>
</html>
<footer>
    @{
        Html.RenderPartial("_Footer");
    }
</footer>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrapJs")
@RenderSection("pagescripts", false)